version: '3.8'

# volumes:
#   mysql-data:

services:
  app:
    platform: linux/x86_64
    image: eclipse-temurin:17
    container_name: presio-java
    env_file:
      - .env
    tty: true
    working_dir: /app
    volumes:
      - ./app:/app # Spring Bootのプロジェクト
    ports:
      - 8080:8080
      - 5050:5050
    depends_on:
      - db
  # app:
  #   container_name: presio-javadev
  #   build: 
  #     context: ./
  #     dockerfile: ./docker/app/Dockerfile
  #   environment:
  #     # NOTE: POSTGRES_DB/USER/PASSWORD should match values in db container
  #       POSTGRES_PASSWORD: postgres
  #       POSTGRES_USER: postgres
  #       POSTGRES_DB: postgres
  #       POSTGRES_HOSTNAME: postgresdb

  #   volumes:
  #     - ../..:/workspaces:cached
      
  #   # Overrides default command so things don't shut down after the process ends.
  #   command: sleep infinity

  #   # Runs app on the same network as the database container, allows "forwardPorts" in devcontainer.json function.
  #   network_mode: service:db

  #   # Use "forwardPorts" in **devcontainer.json** to forward an app port locally. 
  #   # (Adding the "ports" property to this file will not forward from a Codespace.)

  db:
    container_name: presio-mysql
    build: 
      context: ./
      dockerfile: ./docker/db/Dockerfile
    restart: unless-stopped
    volumes:
      - ./docker/db/data:/var/lib/mysql
    environment:
      # NOTE: POSTGRES_DB/USER/PASSWORD should match values in app container
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}

    # Add "forwardPorts": ["5432"] to **devcontainer.json** to forward PostgreSQL locally.
    # (Adding the "ports" property to this file will not forward from a Codespace.)